{% include 'cabecera.html' %}
{% for datos in datos %}
<br><br>
    <form method="post" action="/actualiza">
        <div class="card">
            <div class="card-header" style="background-color: darkcyan;color: white;">
                Ingrese los Datos:
            </div>
            <div class="card-body">
                <p class="card-text">
                    <div class="form-group">
                        <input class="input" type="number" name="id" value="{{datos[0]}}" style="visibility:hidden;"><br>
                        <label for="my-input">Nombre</label>
                        <input id="my-input" class="form-control" type="text" name="nombre" value="{{datos[1]}}" required>
                        <label> Apellido Patero </label>
                        <input class="form-control" type="text" name="apellido_pat" value="{{datos[2]}}" required>
                        <label> Apellido Materno</label>
                        <input class="form-control" type="text" name="apellido_mat" value="{{datos[3]}}" >
                        <label>Cargo</label>
                        <input class="form-control" type="text" name="cargo" value="{{datos[4]}}" required>
                        <label>Correo</label>
                        <input class="form-control" type="email" name="correo" value="{{datos[5]}}" required>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: 1rem;">
                        <input class="btn btn-success" type="submit" value="Actualizar" name="rgt"  style="width: 40%;">
                        <input class="btn btn-danger" type="reset" value="Limpiar" name="borrar" style="width: 40%;">
                    </div>
                    
    
                </p>
            </div>
        </div>
    </form>
{% endfor %}