
    {% include 'cabecera.html' %}
    <br>
    <

    <br><br><br>
    <table class="table table-light" >
        <thead style="background-color: darkcyan;color: white;">
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Cargo</th>
                <th>Correo</th>
                <th>Modificacion</th>
            </tr>
        </thead>
        <tbody>
            <!-- Obtener datos con Jinja2 -->
            {% for datos in  datos%}
            <tr>
                <td>{{datos[1]}}</td>
                <td>{{datos[2]}}</td>
                <td>{{datos[3]}}</td>
                <td>{{datos[4]}}</td>
                <td>{{datos[5]}}</td>
                <td>
                    <a class="btn btn-warning" href="/editar/{{datos[0]}}">Editar</a> 
                    <a class="btn btn-danger" href="/borrar/{{datos[0]}}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
           
        </tbody>
    </table>
</body>
</html>
